/*
Author: Josh + Shaikha
Description: CSS styles for the About us page
*/

.intro-header {
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.title {
    color: black;
    font-family: verdana;
    font-size: 300%;
}

h2.subtitle {
    color: darkolivegreen;
    font-weight: bold;
    font-size: 150%;
}

p {
    color: black;
    font-family: verdana;
    font-size: 90%;
}

.text-box {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #dddddd;
    margin: 10px;
}